<div class="chat-message-<%= message.sender.id %> comment flex-align-end">
    <%= image_tag message.sender.avatar %>

    <p class="chat-message-bubble comment-bubble"><%= message.body %></p>
</div>
