<%= turbo_frame_tag "comment-#{@comment.id}-replies" do  %>
    <div id="comment-<%=@comment.id%>-replies-container" class="comment-replies">
        <% @replies.each do |reply| %>
            <div class="reply">
                <%= render 'comments/comment', comment: reply %>
            </div>
        <% end %>
    </div>
<% end %>
