<% if resource.errors.any? %>
    <article class="message is-danger">
        <div class="message-header">
            <p class="white">
                <%= pluralize resource.errors.count, 'error' %> prohibited you from proceeding
            </p>
        </div>

        <div class="message-body">
            <ul style="list-style: inside;">
                <% resource.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    </article>
<% end %>
