.navbar {
  position: sticky;
  top: 0;
  box-shadow: 0 3px 8px #c2cad6; }
  .navbar-item .input {
    width: 544px;
    background-color: #f0f2f5;
    border: none;
    outline: none; }
    .navbar-item .input:hover {
      background-color: #e4e6e8; }
    .navbar-item .input + .icon {
      color: #323232; }
    .navbar-item .input:focus {
      box-shadow: none;
      background-color: #f0f2f5; }
    .navbar-item .input::placeholder {
      font-weight: 300;
      color: #323232; }
  .navbar-dropdown a.dropdown-item {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.1em; }
    .navbar-dropdown a.dropdown-item i {
      color: black;
      background-color: #d8dadf;
      padding: 8px;
      border-radius: 20px; }
  .navbar-start {
    margin: 0;
    flex-grow: 1;
    justify-content: center; }
  .navbar-end {
    margin: 0;
    flex-grow: 1; }
  .navbar h1 {
    color: #1877f2;
    font-weight: 600; }
  .navbar .dropdown-content {
    min-width: 256px; }
