<div class="notifications" data-controller="tabs">
    <h4 class="title is-4">Notifications</h4>

    <div class="tabs is-centered is-toggle is-toggle-rounded is-small is-fullwidth">
        <ul>
            <li class="is-active"><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                data-container-id="new-notifications-container">New</a></li>
            <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                data-container-id="unread-notifications-container">Unread</a></li>
        </ul>
    </div>

    <div class="flexbox space-between">
        <h6 class="title is-6">Earlier</h6>
        <% unless is_all %><a href="<%= notifications_path %>">See all</a><% end %>
    </div>

    <div id="new-notifications-container" data-tabs-target="tabContainer">
        <% latest_notifications.each do |notification| %>
            <%= render 'notifications/notification', notification: notification %>
        <% end %>
    </div>

    <div id="unread-notifications-container" class="hidden" data-tabs-target="tabContainer">
        <% if unread_notifications.any? %>
            <% unread_notifications.each do |notification| %>
                <%= render 'notifications/notification', notification: notification %>
            <% end %>

            <a href="<%= notifications_read_all_path %>" data-turbo-method="post" class="ml-12">Mark all as read</a>
        <% else %>
            <div class="empty-notifications-container">
                <i class="fa-solid fa-check"></i>
                <p>You've seen all notifications</p>
            </div>
        <% end %>
    </div>
</div>