<div class="notifications" data-controller="tabs">
    <h3 class="title is-4">Notifications</h3>

    <div class="tabs is-centered is-toggle is-toggle-rounded is-small is-fullwidth">
        <ul>
            <li class="is-active"><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                data-container-id="new-notifications-container">New</a></li>
            <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                data-container-id="unread-notifications-container">Unread</a></li>
        </ul>
    </div>

    <div id="new-notifications-container" data-tabs-target="tabContainer">
        <% latest_notifications.each do |notification| %>
            <%= render 'notifications/notification', notification: notification %>
        <% end %>
    </div>

    <div id="unread-notifications-container" data-tabs-target="tabContainer" hidden>
        <% if unread_notifications.any? %>
            <a href="<%= notifications_read_all_path %>" data-turbo-method="post">Mark all as read</a>

            <% unread_notifications.each do |notification| %>
                <%= render 'notifications/notification', notification: notification %>
            <% end %>
        <% else %>
            <p>You've seen all notifications</p>
        <% end %>
    </div>
</div>