<div class="noti">
    <a data-turbo-method="<% if notification.read %>get<% else %>post<% end %>" href="
        <% if notification.read %>
            <%= notification.url %>
        <% else %>
            <%= notifications_read_path(notification) %>
        <% end %>"
    ><%= notification.text %></a>
</div>