<div class="notifications-page-wrapper">
    <div class="notifications-wrapper">
        <%= render 'notifications/notification_tabs', latest_notifications: @new_notifications,
                                        unread_notifications: @unread_notifications,
                                        is_all: true 
        %>
    </div>
</div>
