<div class="friend">
    <a href="<%= user_path friend %>">
        <%= image_tag friend.avatar %>
    </a>

    <div class="flexbox flex-column">
        <a href="<%= user_path friend %>"><%= friend.full_name %></a>

        <% if current_user.friends_with?(friend) && !is_self %>
            <p>Mutual friend</p>
        <% elsif current_user == friend %>
            <p>Me</p>
        <% end %>
    </div>
</div>
