<div class="friend">
    <a href="<%= user_path friend %>">
        <%= image_tag friend.avatar %>
    </a>

    <a href="<%= user_path friend %>"><%= friend.full_name %></a>
    
    <% if current_user.friends_with? friend %>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span><i class="fa-solid fa-ellipsis"></i></span>
                </button>
            </div>

            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="" class="dropdown-item" data-turbo-method="delete">
                        <i class="fa-regular fa-circle-xmark"></i></i> Unfriend
                    </a>
                </div>
            </div>
        </div>
    <% else %>
    <% end %>
</div>
