<% if @mail_type == 'confirmation' %>
    <p>
        A confirmation email has been sent to <strong><%= @user.email %></strong>.
        Please, follow the instructions in the email to proceed.
    </p>
<% elsif @mail_type == 'unlock' %>
    <p>
        We've sent an email to <strong><%= @user.email %></strong> with instructions to unlock your account.
        Please, follow them to proceed.
    </p>
<% end %>