<div class="notification is-info is-light" style="width: 50%; margin: 0 auto; box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.15);">
    <div class="flexbox-flex-column mb-16">
        <h1 class="title is-2 mb-0">Privacy Policy</h1>
        <p class="font-08">Last updated: <strong> Jan 4, 2023</strong></p>
    </div>

    <p>
        This Privacy Policy applies to the Faceboom app, which is a social networking app that allows users to connect with each other and share information.
    </p>

    <p>
        By using Faceboom, you agree to the collection and use of your personal information as described in this Privacy Policy.
    </p>

    <br><h3 class="title is-5">
        Information Collection and Use
    </h3>

    <p>
        We collect the following types of information from our users:
    </p>

    <ul style="list-style: inside;">
        <li>
            Personal information: This includes information such as your name, email address, and profile picture, which you provide when you create an account on Faceboom.
        </li>
    </ul>

    <p>
        We use this information to provide and improve Faceboom, and to communicate with you.
    </p>

    <br><h3 class="title is-5">
        Contact Us
    </h3>

    <p>
        If you have any questions or concerns about this Privacy Policy, please contact us: <strong>jofko.development.testing@gmail.com</strong>.
    </p>
</div>
