<div class="user-page-wrapper">
    <div></div>

    <div>
        <div class="flexbox flex-align-center" style="gap: 16px;">
            <%= image_tag @user.avatar, style: 'border-radius: 50%; width: 176px; height: 176px;' %>
            
            <div class="flexbox flex-column">
                <h2><%= @user.full_name %> <% if @user.username != '' %><span style="font-size: 0.8em;">(<%= @user.username %>)</span><% end %></h2>
                <p><%= pluralize @user.friends.count, 'friend' %></p>
            </div>

            <button style="margin-left: auto;">Action</button>
        </div>

        <div data-controller="tabs">
            <div class="tabs is-centered is-small is-fullwidth">
                <ul>
                    <li class="is-active"><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="posts-section-container">Posts</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="about-section-container">About</a></li>
                    <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                        data-container-id="friends-section-container">Friends</a></li>
                </ul>
            </div>

            <div id="posts-section-container" data-tabs-target="tabContainer">
                USER POSTS
            </div>

            <div id="about-section-container" data-tabs-target="tabContainer" hidden>
                ABOUT USER
            </div>

            <div id="friends-section-container" data-tabs-target="tabContainer" hidden>
                USER FRIENDS
            </div>
        </div>
    </div>

    <div></div>
</div>
