<% if user_signed_in? %>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <h1>Faceboom</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="<%= new_post_path %>" class="navbar-item">
        New Post
      </a>

      <a href="<%= user_path(current_user) %>" class="navbar-item">
        Account
      </a>

      <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="main">
        <a class="navbar-link" data-action="dropdown#showDropdown">
          Notifications
        </a>

        <div class="navbar-dropdown">
            <div class="dropdown-content">
                <div class="dropdown-item" data-controller="tabs">
                    <div class="tabs">
                        <ul>
                            <li class="is-active"><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                                data-container-id="new-notifications-container">New</a></li>
                            <li><a data-tabs-target="tabButton" data-action="tabs#changeTab"
                                data-container-id="unread-notifications-container">Unread</a></li>
                        </ul>
                    </div>

                    <div id="new-notifications-container" data-tabs-target="tabContainer">
                        NEW NOTIFICATIONS
                        <% get_latest_notifications.each do |notification| %>
                            <div class="noti">new notification</div>
                        <% end %>
                    </div>

                    <div id="unread-notifications-container" data-tabs-target="tabContainer" hidden>
                        UNREAD NOTIFICATIONS
                        <% get_unread_notifications.each do |notification| %>
                            <div class="noti">unread notification</div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a href="<%= destroy_user_session_path %>" class="button is-light" data-turbo-method="delete">
                Sign out
            </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<% end %>