<div class="error-page-wrapper flexbox flex-column gap-16 flex-center">
    <h1 class="title is-2">We're sorry, but something went wrong.</h1>

    <img src="<%= asset_path 'sad-face' %>" alt="Sad smiley face.">
</div>
