.flexbox {
    display: flex;
}

@for $i from 1 through 20 {
    .gap-#{$i} {
        gap: #{$i}px;
    }
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.scrollable {
    overflow: auto;
}

.full-height {
    height: 100% !important;
}

.full-width {
    width: 100% !important;
}

.hover-shadow:hover {
    box-shadow: 0 0 5px 5px rgb(240, 242, 245);
}

.hidden {
    display: none !important;
}

%reset-appearance {
    appearance: none;
    border: none;
    outline: none;
}

%ellipsis-dropdown-trigger {
    height: 20px;
    width: 20px;

    button {
        height: 20px;
        width: 20px;
        border: none;
        padding: 0;

        &:focus { outline: 1px solid black; }

        i {
            font-size: 1.3em;
            color: rgb(101, 103, 107);
        }
    }
}

%ellipsis-dropdown-item {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: normal !important;

    &:hover { text-decoration: none; }
}

.dark-color { color: rgb(50, 50, 50) !important; }

%btn {
    @extend %reset-appearance;

    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

.green-btn {
    @extend %btn;

    color: white;
    background-color: rgb(66, 183, 42);

    &:hover { background-color: rgb(56, 173, 32); }
}

.blue-btn {
    @extend %btn;

    color: white;
    background-color: rgb(24, 119, 242);

    &:hover { background-color: rgb(14, 109, 232); }
}

.grey-btn {
    @extend %btn;

    color: rgb(75, 79, 86);
    background-color: rgb(240, 242, 245);
}
