<div class="post-info">
    <div class="post-user-wrapper">
        <%= render 'users/avatar_link', user: post.user %>

        <div class="flexbox flex-column">
            <h4><%= link_to post.user.full_name, post.user %></h4>
            <p style="font-size: 0.7em;"><%= post.time_since approx: true, short: true %></p>
        </div>
    </div>

    <div class="post-body-wrapper">
        <p><%= post.body %></p>
    </div>
</div>