<div id="post-delete-confirm-modal" class="modal post-delete-confirm-modal" data-modal-target="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete post?</p>
      <button class="delete" aria-label="close" data-action="modal#hideModal" data-mdl="post-delete-confirm-modal"></button>
    </header>
    <section class="modal-card-body">
      <p>Are you sure you want to delete this post?</p>
    </section>
    <footer class="modal-card-foot">
      <button class="cancel-btn" data-action="modal#hideModal" data-mdl="post-delete-confirm-modal">Cancel</button>

      <a href="<%= post_path post %>" data-turbo-method="delete">
        <button class="delete-btn" tabindex="-1" data-action="modal#hideModal" data-mdl="post-delete-confirm-modal">Delete</button>
      </a>
    </footer>
  </div>
</div>
