<div data-controller="modal post-create-modal">
    <div class="post-create-card card">
        <div class="flexbox" style="gap: 8px;">
            <%= render 'users/avatar_link', user: current_user %>
            
            <input type="text" class="input is-rounded" placeholder="What's on your mind, <%= current_user.first_name %>?"
                data-action="click->modal#showModal" data-post-create-modal-target="bodyPreview" readonly>
        </div>

        <hr>

        <button data-action="modal#showModal">
            <i class="fa-regular fa-image"></i>
            <p>Photo</p>
        </button>
    </div>

    <%= render 'post_action_modal', action: 'create' %>
</div>
