<div class="post-comment-form-wrapper" data-controller="comment">
    <%= render 'users/avatar_link', user: current_user, size: '32px' %>

    <div style="flex: 1;">
        <%= form_with model: comment, url: post_comments_path(post), id: 'post-comment-form' do |f| %>
            <div id="invalid-post-comment-msg-wrapper"></div>

            <%= f.text_field :body, id: 'new-post-comment-input', class: 'input is-rounded', placeholder: 'Write a comment...', data: { comment_target: 'input' } %>
            <%= f.hidden_field :body_copy, name: 'comment[body]', data: { comment_target: 'inputHidden' } %>
        <% end %>
    </div>

    <input type="submit" value="Comment" form="post-comment-form" data-action="comment#submit">
</div>
