<div class="home-page-wrapper">
    <div class="flexbox flex-column flex-align-center">
        <% if @first_page %>
            <%= render 'posts/post_create_card' %>
        <% end %>

        <div id="posts" class="posts">
            <% @posts.each do |post| %>
                <%= render 'posts/post', post: post %>
            <% end %>
        </div>
        
        <%= paginate @posts, window: 2 %>
    </div>

    <div></div>
</div>
