<div class="home-page-wrapper">
    <div class="posts">
        <% @posts.each do |post| %>
            <%= render 'post', post: post %>
        <% end %>

        <%= paginate @posts, window: 2 %>
    </div>

    <div></div>
</div>
