<div class="home-page-wrapper">
    <div id="posts" class="posts">
        <% if @first_page %>
            <%= render 'post_create_card' %>
        <% end %>

        <% @posts.each do |post| %>
            <%= render 'post', post: post %>
        <% end %>

        <%= paginate @posts, window: 2 %>
    </div>

    <div></div>
</div>
