<div class="post-page-wrapper">
    <div style="background-color: black;"></div>

    <div>
        <%= image_tag @post.image&.attached? ? @post.image : '', style: 'width: 100%;' %>
    </div>

    <div style="background-color: black;"></div>

    <div class="post-sidebar">
        <%= render 'post_info', post: @post %>
        <%= render 'post_actions_wrapper', post: @post %>
    </div>
</div>
