@import "partials/config";

.comment {
    display: flex;
    gap: 8px;
    min-width: 340px;
    margin-right: 16px;

    a:hover {
        text-decoration: underline;
    }
    
    img {
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
        border-radius: 50%;
    }

    &-bubble {
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 242, 245);
        padding: 8px 12px;
        border-radius: 16px;
        width: fit-content;
        position: relative;

        a {
            font-weight: 500;
            color: $dark-color;
        }

        i.fa-heart {
            font-size: 0.8em;
            color: white;
            background-color: rgb(233,35,70);
            padding: 4px; border-radius: 50%;
            position: absolute;
            right: -0.5em;
            bottom: -1em;

            .tooltiptext {
                width: 40px;
                margin-left: -25px;
            }
        }
    }

    &-actions {
        display: flex;
        font-size: 0.7em;
        gap: 12px;
        margin-left: 12px;

        a {
            font-weight: 500;
            color: rgb(74, 74, 74);
        }
    }
}

.comment-replies {
    margin-top: 16px;
}

.post-comment-input-wrapper {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}

.comment-replies-link {
    margin-left: 12px;
    font-size: 0.9em;
    color: rgb(74, 74, 74);
    font-weight: 500;
}

.comment-reply-form-wrapper {
    margin: 6px 0 0 12px;
    display: flex;
    gap: 4px;

    textarea {
        appearance: none;
        border: none;
        outline: none;
        background-color: rgb(240, 242, 245);
        padding: 10px 12px;
        border-radius: 16px;
        min-width: 100px;
        min-height: 25px;
    }

    img {
        width: 24px;
        height: 24px;
    }

    input[type="submit"] {
        appearance: none;
        background-color: white;
        border: 2px solid darken($bg-color, 20%);
        color: darken($bg-color, 20%);
        font-weight: 500;
        border-radius: 9999px;
        padding: 4px 12px;
        cursor: pointer;

        &:hover {
            background-color: rgb(251, 251, 251);
        }

        &:active {
            transform: scale(0.98);
            background-color: $bg-color;
        }
    }
}
