@import "partials/config";   

.chat-tile {
    input[type="text"] {
        background-color: $bg-color;
    }
}

.chat-messages {
    height: 500px;
    margin-bottom: 20px;
}

div[class^="chat-message"] {
    min-width: fit-content;

    .chat-message-bubble {
        color: $dark-color;
        max-width: 200px;

        .tooltip-text-right { min-width: 100px; }
    }

    img {
        min-width: 28px;
        min-height: 28px;
        max-width: 28px;
        max-height: 28px;
        border-radius: 50%;
    }

    .remove-msg-btn {
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 50%;
        display: none;

        i { color: lighten($dark-color, 25%); }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);

            i { color: lighten($dark-color, 15%); }
        }
    }
}
