@import "partials/config";   
@import "partials/utilities";

.chat-tile {
    input[type="text"] { background-color: $bg-color; }

    &-top {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 6px;

        .online-dot { box-shadow: -2px 0 0 0 white, 0 -2px 0 0 white; }

        button {
            @extend %reset-appearance;

            border-radius: 50%;
            
            &:hover i { color: rgb(34, 129, 252); }

            i {
                color: rgb(24, 119, 242);
                font-size: 1.2em;
            }
        }
    }
}

.chat-messages {
    height: 400px;
    margin-bottom: 20px;
    padding-top: 6px;
}

div[class^="chat-message"] {
    min-width: fit-content;

    .chat-message-bubble {
        color: $dark-color;
        max-width: 200px;

        .tooltip-text-right { min-width: 100px; }
        
        .removed { font-style: italic; }
    }

    img {
        min-width: 28px;
        min-height: 28px;
        max-width: 28px;
        max-height: 28px;
        border-radius: 50%;
    }

    .remove-msg-btn {
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 50%;
        display: none;

        i { color: lighten($dark-color, 25%); }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);

            i { color: lighten($dark-color, 15%); }
        }
    }
}

#msg-noti-container {
    position: fixed;
    top: 64px;
    left: 24px;
    z-index: 999;

    .live-msg-noti {
        opacity: 1;
        transition: opacity 0.75s;

        &-fade-out { opacity: 0; }

        img {
            width: 64px;
            height: 64px;
            z-index: 2;
        }

        .live-msg-noti-body {
            opacity: 0.9;
            background-color: rgb(0, 132, 255);
            margin-left: -64px;
            padding-left: 68px;
            height: fit-content;
        }
    }
}
