@import "partials/utilities";     

.post {
    width: 540px;
    background-color: white;
    border: 1px solid darken($bg-color, 10%);
    border-radius: 8px;
    margin-bottom: 16px;
    
    &-body-wrapper { text-align: justify; }

    img { width: 100%; }

    p, a { color: rgb(96, 98, 102); }

    a:hover { text-decoration: underline; }    
}

.post-info {
    padding: 12px;

    .post-user-wrapper {
        display: flex;
        align-items: flex-start;
        margin-bottom: 8px;
        gap: 4px;

        a {
            color: $dark-color;
            font-weight: 500;
        }
    }

    .dropdown {
        &-trigger { @extend %ellipsis-dropdown-trigger; }
        &-item { @extend %ellipsis-dropdown-item; }
    }
}

.post-actions-wrapper {
    .post-actions {
        padding: 12px;
        display: flex;
        justify-content: center;

        a { text-decoration: none; }

        button.post-actions-like:active { transform: scale(0.98); }
        
        &-like, &-comment {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgb(101, 103, 107);
        }
    }
}

.post-actions button, .post-create-card button {
    @extend %reset-appearance;

    background-color: white;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 1.1em;
    
    &:hover { background-color: rgb(242, 242, 242); }
    &:active { background-color: rgb(232, 232, 232); }

    p { color: inherit; }
}

.post-sidebar {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.post-comments-wrapper { padding: 12px; }

.post-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;

    .back-btn {
        position: fixed;
        left: 24px;
        top: 16px;

        i {
            color: white;
            font-size: 1.2em;
        }
    }
}

.post-sidebar hr, .post-actions-wrapper hr, .post hr {
    margin: auto;
    margin-bottom: -6px;
    margin-top: 6px;
    width: 95%;
    background-color: darken($bg-color, 5%);
}

.post-create-card {
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 64px;
    min-height: 96px;

    i { color: rgb(69, 189, 98); }

    hr {
        margin: auto;
        width: 100%;
    }

    input {
        background-color: $bg-color;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover { background-color: rgb(225, 227, 229); }

        &:active {
            box-shadow: none;
            background-color: rgb(215, 217, 219);
        }

        &::placeholder {
            font-weight: 300;
            color: $dark-color;
        }
    }

    button {
        color: rgb(101, 103, 107);
        gap: 8px;
        width: 33%;
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}

.post-create-modal, .post-edit-modal {
    textarea {
        @extend %reset-appearance;

        min-width: 90%;
        max-width: 90%;
        min-height: 150px;
        font-size: 1.4em;
        resize: none;
        margin-top: 16px;
    }

    .modal-card-body {
        padding-bottom: 0;

        a {
            font-weight: 500;
            color: rgb(54, 54, 54);
        }
    }

    .modal-card-foot {
        flex-direction: column;
        gap: 20px;

        > div {
            border: 1px solid rgb(219, 219, 219);
            padding: 20px 24px;
            border-radius: 8px;
        }

        i {
            color: rgb(69, 189, 98);
            font-size: 1.5em;
            cursor: pointer;
        }

        button {
            @extend %reset-appearance;

            padding: 12px 0;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
            background-color: rgb(27, 116, 228);
            color: white;
            font-weight: 500;
    
            &:hover { background-color: rgb(26, 110, 216); }
            &:active { transform: scale(0.98); }
        }

        button[disabled] {
            background-color: rgb(228, 230,235);
            color: rgb(188, 192, 196);
            cursor: not-allowed;

            &:active { transform: none; }
        }
    }
}

.post-delete-confirm-modal {
    footer {
        padding-top: 0;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button:active { transform: scale(0.98); }
    }
}

nav.pagination {
    display: flex;
    gap: 16px;

    a, p {
        border: 1px solid darken($bg-color, 5%);
        padding: 6px;
        width: 30px;
        height: 30px;
        border-radius: 8px;
        background-color: rgb(231, 243, 255);
        color: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;

        &:hover { background-color: rgb(221, 233, 245); }
    }

    p {
        cursor: pointer;
        background-color: rgb(221, 233, 245);
    }
}
