@import "partials/config";
@import "partials/utilities";

.user-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    .tabs {
        ul {
            border: none;
    
            li a {
                font-weight: 600;
                font-size: 1.15em;
                border: none;
                color: rgb(101, 103, 107);
                border-radius: 4px;
        
                &:hover {
                    background-color: darken($bg-color, 4%);
                    color: rgb(101, 103, 107);
                }
        
                &:active {
                    background-color: darken($bg-color, 7%);
                }
            }
        
            li.is-active a {
                color: rgb(24, 118, 242);
                border-bottom: 4px solid rgb(24, 118, 242);
                border-radius: 0;
        
                &:hover {
                    background-color: $bg-color;
                }
            }
        }
    }
}

.user-edit-page-wrapper {
    display: flex;
    justify-content: center;

    .field { width: 100%; }

    input[type="submit"] {
        @extend %reset-appearance;

        background-color: white;
        color: rgb(24, 119, 242);
        cursor: pointer;
        padding: 12px 8px;
        border-radius: 4px;

        &:hover { background-color: rgb(242, 242, 242); }

        &:active { background-color: rgb(232, 232, 232); }
    }

    > .card { padding: 16px; }
}

.login-page-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;

    .page-slogan-wrapper {
        display: flex;
        flex-direction: column;
        
        h2 { font-size: 3.5em; }

        p {
            font-size: 1.5em;
            color: $dark-color;
        }
    }

    > .card {
        padding: 16px;
        width: 29%;

        input::placeholder { color: lighten($dark-color, 25%); }

        .label {
            position: absolute;
            opacity: 0;
        }

        input[type="submit"] {
            @extend %reset-appearance;

            width: 100%;
            padding: 12px 0;
            color: white;
            font-weight: 500;
            font-size: 1.5em;
            background-color: rgb(24, 119, 242);
            cursor: pointer;
            border-radius: 8px;

            &:hover { background-color: rgb(14, 109, 232); }
        }

        .remember-me-wrapper {
            display: flex;
            gap: 4px;
            color: lighten($dark-color, 25%);
        }

        .forgot-password-link-wrapper {
            text-align: center;
            margin: 12px 0;

            a { color: rgb(24, 119, 242); }

            span {
                font-size: 0.7em;
                color: darken($bg-color, 33%);
            }
        }

        .create-account-link-wrapper {
            text-align: center;
            margin: 36px 0 12px 0;

            button { margin-top: 16px; }

            a { @extend .green-btn; }
        }
    }
}

.register-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .faceboom-logo {
        font-size: 3.5em;
    }

    .page-heading {
        text-align: center;

        + .page-subtitle { text-align: center; }
    }

    hr {
        margin: 12px auto;
        width: 100%;
    }

    > .card {
        padding: 16px;
        width: 29%;

        input::placeholder { color: lighten($dark-color, 25%); }

        label {
            position: absolute;
            opacity: 0;
        }

        .sign-up-btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            a { color: rgb(24, 119, 242); }

            input {
                @extend .green-btn;
    
                padding: 6px 64px;

                &:hover { background-color: rgb(56, 173, 32); }
    
                &:active, &:focus { transform: translate(0, 2px); }
            }
        }
    }
}

.user-friends-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 8px;

    .friend {
        width: 45%;
        display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid $bg-color;
        border-radius: 10px;
        padding: 10px;

        a { font-weight: bold; }

        p { font-size: 0.7em; }

        img {
            @extend .hover-shadow;

            width: 80px;
            height: 80px;
            border-radius: 10px;
        }

        .dropdown {
            margin-left: auto;
            
            &-trigger { @extend %ellipsis-dropdown-trigger; }
            &-item { @extend %ellipsis-dropdown-item; }
        }
    }
}

.user-badge {
    display: flex;
    align-items: center;
    gap: 16px;

    span { font-size: 0.5em; }

    h2 {
        font-weight: 600;
        font-size: 2em;
    }

    p {
        font-weight: 500;
        color: rgb(101, 103, 107);
    }

    + hr {
        background-color: darken($bg-color, 4%);
    }

    button, a {
        @extend %reset-appearance;

        font-size: 1em;
        margin-left: auto;
        background-color: rgb(24, 119, 242);
        color: white;
        font-weight: 600;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: rgb(14, 109, 232);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    img {
        border-radius: 50%;
        width: 176px;
        height: 176px;

        &:hover {
            box-shadow: 0 0 10px 10px darken($bg-color, 5%);
        }
    }
}

#about-section-container {
    display: flex;
    justify-content: center;
    
    textarea {
        @extend %reset-appearance;
        
        background-color: $bg-color;
        border-radius: 8px;
        padding: 8px 16px;
        width: 90%;
        resize: none;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 12px;

    }
}

#posts-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 2px;
}
