@import "partials/config";
@import "partials/utilities";

.user-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.user-friends-wrapper {
    display: flex;
    flex-direction: column;

    .friend {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 80px;
            height: 80px;
        }
    }
}

.user-badge {
    display: flex;
    align-items: center;

    h2 {
        font-weight: 600;
        font-size: 2em;
    }

    p {
        font-weight: 500;
        color: rgb(101, 103, 107);
    }

    + hr {
        background-color: darken($bg-color, 4%);
    }

    button {
        @extend %reset-appearance;

        margin-left: auto;
        background-color: rgb(24, 119, 242);
        color: white;
        font-weight: 600;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: rgb(14, 109, 232);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    img {
        border-radius: 50%;
        width: 176px;
        height: 176px;

        &:hover {
            box-shadow: 0 0 10px 10px darken($bg-color, 5%);
        }
    }
}
