
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bulma";
@import "font-awesome";

@import "partials/utilities";
@import "partials/config";     

@import "comments";
@import "navbar";
@import "notifications";
@import "posts";

html {
    background-color: $bg-color;
}

body {
    margin: 0;
    height: 100%;
}

.home-page-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    .posts {
        @extend .flexbox;
        @extend .flex-column;
        @extend .flex-center;
    
    }
}
  
.tooltip .tooltiptext {
    font-size: 0.8em;
    transition-delay: 0.2s;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 110%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}