
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bulma";
@import "font-awesome";

@import "partials/utilities";
@import "partials/config";     

@import "comments";
@import "navbar";
@import "notifications";
@import "posts";
@import "users";
@import "messages";

html {
    background-color: $bg-color;
}

body {
    margin: 0;
    height: 100%;
}

.home-page-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    .posts {
        @extend .flexbox;
        @extend .flex-column;
        @extend .flex-center;
    
    }
}

[class^="tooltip-text"] {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    min-width: fit-content;
    transition-delay: 0.4s;
}

.tooltip-text-top {
    top: -40px;
    left: -50%;
}

.tooltip-text-bottom {
    top: 25px;
    left: -50%;
}

.tooltip-text-left {
    top: 0;
    right: 105%;
}

.tooltip-text-right {
    top: 0;
    left: 105%;
}

.tooltip {
    position: relative;

    &:hover [class^="tooltip-text"] {
        visibility: visible;
    }
}

.card {
    @extend .post;
}

.modal {
    &-background {
        background-color: rgba(240, 240, 240, 0.75);
    }

    &-card {
        box-shadow: 0 0 12px 7px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        max-width: 500px;

        &-head, &-foot {
            background-color: white;
            text-align: center;
    
            p {
                font-weight: 600;
                color: rgb(54, 54, 54);
            }
        }

        &-foot { border: none; }
    }

    button[class^="modal-btn"] {
        @extend %reset-appearance;
    
        padding: 10px 40px;
        cursor: pointer;
        font-weight: 500;
        border-radius: 8px;
    }

    &-btn-primary {
        color: white;
        background-color: rgb(24, 119, 242);

        &:hover { background-color: rgb(14, 109, 232); }
        &:focus { background-color: rgb(4, 99, 222); }
    }

    &-btn-secondary {
        color: rgb(24, 119, 242);
        background-color: white;

        &:focus, &:hover { background-color: $bg-color; }
    }
}

.field_with_errors > * {
    border-color: rgb(241, 70, 104);

    &:hover { border-color: rgb(241, 70, 104); }

    &:active, &:focus {
        box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.251);
        border-color: rgb(241, 70, 104);
    }
}

.faceboom-logo {
    color: rgb(24, 119, 242);
    font-weight: 600;
    letter-spacing: -3px;
}

.page-heading {
    color: rgb(28, 30, 33);
    font-size: 25px;
    font-weight: 600;
}

.page-subtitle {
    color: rgb(96, 103, 112);
    font-size: 15px;
}

#notice, #alert { width: fit-content; }
#notice { border: 1px solid #296fa8; }
#alert { border: 1px solid #cc0f35; }
