/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    margin: 0;
 }

 .comment-replies {
    margin-left: 50px;
 }

 .navbar {
    display: flex;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.15em;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
}

.navbar a {
    color: rgb(111, 114, 135);
    padding: 20px 22px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.navbar a.main {
    color: rgb(59,89,153);
    font-weight: 600;
}
