/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
 @import "font-awesome";
 @import "utilities";
 @import "config";     

 html {
    background-color: $bg-color;
 }

 body {
    margin: 0;
    height: 100vh;
 }

 .comment-replies {
    margin-left: 50px;
 }

 .navbar {
    position: sticky;
    top: 0;
    box-shadow: 0 3px 8px darken($bg-color, 15%);
    
    &-item {
        .input {
            width: 544px;
            background-color: $bg-color;
            border: none;
            outline: none;
    
            &:hover { background-color: rgb(228, 230, 232); }
    
            &:focus {
                box-shadow: none;
                background-color: $bg-color;
            }
    
            &:target { border: 2px solid red; }
    
            + .icon { color:  $dark-color; }
    
            &::placeholder {
                font-weight: 300;
                color:  $dark-color;
            }
        }
    }

    &-dropdown {
        a.dropdown-item {
            padding: 12px;
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 1.1em;
    
            i {
                color: black;
                background-color: rgb(216, 218, 223);
                padding: 8px;
                border-radius: 20px;
            }
        }
    }

    &-start {
        margin: 0;
        flex-grow: 1;
        justify-content: center;
    }

    &-end {
        margin: 0;
        flex-grow: 1;
    }

    h1 {
        color: rgb(24, 119, 242);
        font-weight: 600; 
    }

    .dropdown-content { min-width: 256px; }

}

.notifications {
    min-width: 350px;

    .title {
        margin: 0;
        margin-left: 12px;
    }

    h4.is-4 {
        margin-bottom: 8px;
    }

    .noti {
        width: 100%;
        display: flex;
        padding: 20px 12px;
        align-items: center;
        border-radius: 16px;
        gap: 12px;

        &:hover {
            background-color: rgb(242,242,242);
        }

        img {
            max-width: 42px;
            max-height: 42px;
            border: 1px solid grey;
            border-radius: 50%;
        }

        i {
            margin-left: auto;
            color: rgb(24, 118, 242);
        }

        p {
            color:  $dark-color;
        }
    }

    .tabs {
        li.is-active a {
            color: rgb(24, 119, 242);
            background-color: rgb(231, 243, 255);
        
            &:hover {
                background-color: rgb(221, 233, 245);
            }
        }

        li a {
            font-weight: 600;
            border: none;
            border-radius: 9999px;
        }

        ul {
            gap: 16px;
        }
    }

    .empty-notifications-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        i { font-size: 56px; }

        p { font-size: 1.3em; }
    }
}

.notifications-page-wrapper {
    @extend %flexbox-center;

    .notifications-wrapper {
        border: 1px solid darken($bg-color, 10%);
        border-radius: 8px;
        padding: 16px;
        background-color: white;
        width: 40%;
    }
}
